.navbar-light .navbar-nav .nav-link
{
    color: black;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link
{
    color:red;
}
.cabecera
{
    
    -webkit-box-shadow: 0 0 2px 2px #4D4D4D;
box-shadow: 0 0 2px 2px #4D4D4D;
}
.main
{
    display: flex;
    padding: 5px;

}
.main>.imagen
{

}
.main>.contenido
{
    padding: 25px;
    background-color: rgb(19, 18, 18);
border: solid  1px white;
}
.main>.siguientes
{  
    display: flex;
    flex-direction: column;
}
.main>.siguientes>.añadido
{
    padding: 5px;
    background-color: rgb(240, 70, 70);
    border: solid  1px white;
    
}
.main>.siguientes>.relacionado
{
    padding: 5px;
    background-color: rgb(255, 255, 255);
    border: solid  1px white;
    
}
.container2
{
    width: 50%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

}